h1,
p {
  margin: 25px auto;
  text-align: center;
  color: white;
}

body {
  background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
}
form {
  accent-color: #3a7bd5;
  border-radius: 10px;
  background-color: #ffffff99;
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid black;
}
fieldset:last-of-type {
  border-bottom: none;
}
input,
textarea,
select {
  margin: 10px 0 10px 0;
  min-height: 2em;
  width: 100%;
}
textarea {
  resize: none;
}
input[type="radio"],
input[type="checkbox"] {
  width: unset;
  display: inline;
  vertical-align: middle;
}

.backtoline {
  display: block;
}
