h1,
p {
  margin: 25px auto;
  text-align: center;
  color: white;
}

body {
  background: #00d2ff; /* fallback for old browsers */
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
}
form {
  padding: 25px;
  border-radius: 25px;
  background-color: #ffffff90;
  width: 50%;
  min-width: 300px;
  margin: 25px auto;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="phone"] {
  display: block;
  accent-color: blue;
}
