h1,
p {
  margin: 1em auto;
  text-align: center;
}

#first-fieldset {
  background-color: #213159;
}
.inline {
  width: unset;
}

input[for="recommend"] {
  margin: 0.4rem;
}

form {
  padding: 20px 0px;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}
label,
legend {
  display: block;
  padding: 10px 0 10px 0;
  color: gainsboro;
}
input,
select {
  display: block;
  height: 25px;
  width: 75%;
  margin-top: 5px;
}
input[type="submit"] {
  background-color: #f04b4c;
}
